.App {
    width: 900px;
    height: 500px;
    box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.2);

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.header {
    margin-top: 17px;
    margin-bottom: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.header p {
    text-transform: uppercase;
}

.header h2 {
    color: #332A84;
    text-transform: uppercase;
    margin-top: 10px;
    font-size: 50px;
}

.main input {
    border: none;
    outline: none;
    padding: 10px;
    background-color: #EDEDED;
    margin-bottom: 30%;
}

.main .details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    gap: 15px;
}